.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
.dropdown-input {
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu {
    width: 100%;
    z-index: 1;
    position: absolute;
    transform: translateY(4px);
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #9fc3f870;
}

.dropdown-item.selected {
    background-color: #0d6efd;
    color: #fff;
}

/* @media (max-device-width:1324px){

    .dropdown-menu {
        z-index: 1;
    }
}

@media (max-device-width:480px){

    .dropdown-menu {
        z-index: 1;
    }
} */

