.app {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropdown {
  width: 180px;
}

.submitBtn, .clearBtn {
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-device-width:1324px){
  .container {
    display: flex;
    flex-direction: column;
  }
  .dropdown {
    width: 180px;
  }
  
  .submitBtn, .clearBtn{
    width: 40%;
  }
}

@media (max-device-width:480px){
  .container {
    display: flex;
    flex-direction: column;
  }

  .submitBtn, .clearBtn{
    width: 81%;
  }
}
